<div class="bg-white border border-gray-200 rounded-lg p-4 md:p-5 shadow-sm space-y-3">
  @if(prompt?.referenceImageUrl) {
    <div class="mb-3 justify-center flex">
      <img src="{{ prompt?.referenceImageUrl }}" alt="Reference Image" class="w-8/12 h-auto rounded-md object-cover" />
    </div>
  }
  @if (prompt?.passage?.title) {
    <h4 class="text-lg font-semibold text-gray-800">{{ prompt?.passage?.title }}</h4>
  }

  @if (prompt?.promptText) {
    <p class="text-gray-900 leading-relaxed">{{ prompt?.promptText }}</p>
  }

  @if (prompt?.passage?.contentText) {
    <div class="pt-2 border-t border-gray-100">
      <p class="text-gray-700 whitespace-pre-line leading-relaxed">{{ prompt?.passage?.contentText }}</p>
    </div>
  }
</div>
