<app-part-detail [partInfo]="partInfo"></app-part-detail>

@if

@if (isWritingExam) {
  <app-writing
    [partInfo]="partInfo"
    [questions]="questions"
    (writingAnswered)="onWritingAnswered($event)">
  </app-writing>
} @else (isReadingExam) {
  <app-reading
    [partInfo]="partInfo"
    [questions]="questions"
    (readingAnswered)="onReadingAnswered($event)">
  </app-reading>
} @else (isListeningExam) {
  <app-listening
    [partInfo]="partInfo"
    [questions]="questions"
    (listeningAnswered)="onListeningAnswered($event)">
  </app-listening>
} @else {
  <app-speaking
    [partInfo]="partInfo"
    [questions]="questions"
    (speakingAnswered)="onSpeakingAnswered($event)">
  </app-speaking>
}

