<main class="reading-instructions" aria-labelledby="reading-instructions-title" aria-describedby="reading-instructions-copy">
  <h1 id="reading-instructions-title">Aptis General Reading Instructions</h1>

  <section id="reading-instructions-copy" class="reading-instructions__copy">
    <h2>Reading</h2>
    <p>The test has five parts.</p>
    <p>You have 35 minutes to complete the test.</p>
    <p class="reading-instructions__start-copy">
      When you click on the 'Next' button, the test will begin.
    </p>
  </section>
</main>
